/* Scroll  bar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--btn_main);
}

:root {
  --seperator_color: #ddd;
  --text_color: #444;
  --text_color_completed: #666;
  --btn_main: #7f7f7f;
  --btn_hover: #4c4c4c;
  --field_focus: #f5ffe9;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--btn_hover);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif, monospace;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7c, #23a6d5, #23d5ab );
  background-size: 400% 400%;
  position: relative;
  animation: changeBg 20s ease-in-out infinite;
}

@keyframes changeBg {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

main {
  display: flex;
  height: 85vh;
}

input {
  background-color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 40%;
  min-width: 500px;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 0 0 20px #666;
  border-radius: 2px;
}

.app-header {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

/* App Header */

.heading {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--seperator_color);
}

.heading p {
  font-size: 1.25rem;
  color: var(--text_color);
  text-shadow: -1px 0 5px #d1cece;
}

.heading i {
  background: url(../assets/reset-icon.svg) no-repeat center center/cover;
  width: 16px;
  height: 16px;
  filter: invert(0.35);
}

.add-item {
  padding: 15px 10px;
  border-bottom: 1px solid var(--seperator_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-item input {
  border: none;
  cursor: default;
  font-size: 1.2rem;
  font-style: italic;
  flex: 1;
}

.task input {
  font-family: sans-serif, monospace;
  border: none;
  cursor: default;
  text-shadow: -1px 0 5px #d1cece;
}

.add-item input:focus {
  outline: none;
}

.add-item i {
  background: url(../assets/return-icon.png) no-repeat center center;
  width: 7px;
  height: 12px;
  padding: 10px 12px;
  cursor: pointer;
}

.add-item i:active {
  filter: invert(0.7);
}

/* The List */

.to-do-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.list-item {
  padding: 15px 10px;
  font-size: 1.1rem;
  color: var(--text_color);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--seperator_color);
}

.task {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.task-description {
  flex: 1;
}

.completed .task-description {
  text-decoration: line-through;
  color: var(--text_color_completed);
}

.task input:focus {
  outline: none;
}

.list-item .drag-btn {
  display: block;
  background: url(../assets/verticle-menu.png) no-repeat center center/cover;
  height: 20px;
  width: 20px;
  filter: invert(0.5);
  cursor: move;
}

.list-item .del-btn {
  background: url(../assets/delete.png) no-repeat center center/cover;
  height: 20px;
  width: 20px;
  filter: invert(0.5);
  cursor: pointer;
}

.del-btn:hover {
  filter: invert(0.3);
}

/* App Footer */

.app-footer {
  padding: 15px 10px;
  text-align: center;
  background-color: #f6f6f6;
}

.app-footer a {
  text-decoration: none;
  color: #777;
}

.app-footer a:hover {
  color: var(--text_color);
}

/* Utility Class */

.field-focus {
  background-color: var(--field_focus);
}
