body {
  background-color: #09233d;
}

main {
  display: flex;
  height: 85vh;
}

.container {
  margin: auto;
  background-color: #fff;
  width: 90vw;
  height: 60vw;
  max-width: 500px;
  max-height: 350px;
}